<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container ">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 my-3">
            <h1 class="text-center">Seja bem vindo a minha coleção de livros</h1>
            <p class="text-center lead">Faça login e clique em minha coleção para verificar seus livros</p>

            <%- include('includes/messages'); %>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>

<%- include('includes/footer') %>